<mat-card style="width: 50%; margin: auto; margin-top: 10%; border-radius: 10px;">
    <div *ngIf="firebase.authState == null">
        <div>
            <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
            <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
        </div>
        <div style="text-align: center;">
            <h2>Login</h2>
        </div>
        <div style="text-align: center;">
            <mat-form-field style="width:50%">
                <input matInput placeholder="Username" name="username" [(ngModel)]="username">
            </mat-form-field>

            <mat-form-field style="width:50%">
                <input matInput placeholder="Password" name="password" [(ngModel)]="password">
            </mat-form-field>
            <b *ngIf="success">{{success}}</b>
            <br>
            <b *ngIf="error">{{error.message}}</b>
        </div>
        <div style="text-align: center;">
            <button mat-button (click)="loginUser()">Submit</button>
        </div>
    </div>
    <div *ngIf="firebase.authState != null">
        <h2>Du är inloggad</h2>
    </div>
</mat-card>
