<mat-card style="width: 80%; margin: auto; margin-top: 10%; border-radius: 10px;">
    <h1 style="text-align:center">Forum</h1>
    <ul>
        <mat-grid-list cols="3" rowHeight="3:1">
            <div *ngFor="let temp of tempObservable | async ">
                <mat-grid-tile class="questionIndex" routerLink="/view" routerLinkActive="active">
                    <table>
                        <tr>
                            <h2>{{temp.title}}</h2>
                            <p>{{temp.description}}</p>
                            <p>{{temp.points}}</p>
                        </tr>
                    </table>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </ul>
</mat-card>
