<mat-card style="width: 50%; margin: auto; margin-top: 10%; border-radius: 10px;">
    <div>
        <div>
            <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
            <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
        </div>
        <div style="text-align: center;">
            <h2>Register</h2>
        </div>
        <div style="text-align: center;">
            <form>
                <mat-form-field style="width:50%">
                    <input matInput placeholder="Email" name="email" [(ngModel)]="email">
                </mat-form-field>

                <mat-form-field style="width:50%">
                    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="password">
                </mat-form-field>
                <br>
                <b *ngIf="success">{{success}}</b>
                <b *ngIf="error">{{error.message}}</b>
            </form>
        </div>
        <div style="text-align: center;">
            <button mat-button (click)="registerUser()">Submit</button>
        </div>
    </div>
</mat-card>
