<mat-card style="width: 50%; margin: auto; margin-top: 10%; border-radius: 10px;">
    <div>
        <div>
            <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
            <button mat-button routerLink="/register" routerLinkActive="active">Register</button>
        </div>
        <div style="text-align: center;">
            <h2>Register</h2>
        </div>
        <div style="text-align: center;">
            <mat-form-field style="width:50%">
                <input matInput placeholder="Username">
            </mat-form-field>

            <mat-form-field style="width:50%">
                <input matInput placeholder="Name">
            </mat-form-field>

            <mat-form-field style="width:50%">
                <input matInput placeholder="City">
            </mat-form-field>

            <mat-form-field style="width:50%">
                <input matInput placeholder="Password">
            </mat-form-field>
        </div>
        <div style="text-align: center;">
            <button mat-button>Submit</button>
        </div>
    </div>
</mat-card>
